/* start global Properties */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oswald', sans-serif;
}
.container {
    width: 80%;
    margin: auto;
}
ul{
  list-style: none;
}

.layout_padding {
  padding: 100px 0;
}

.layout_padding2 {
  padding: 55px 0;
}

.layout_padding2-top {
  padding-top: 55px;
}

.layout_padding2-bottom {
  padding-bottom: 55px;
}

.layout_padding-top {
  padding-top: 100px;
}

.layout_padding-bottom {
  padding-bottom: 100px;
}
.custom_heading-container {
  display: flex;
  justify-content: center;
}

.custom_heading-container h2 {
  text-transform: uppercase;
  position: relative;
}
.custom_heading-container h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 50px;
  height: 5px;
  background-color: #ff0000;
}
/* End global Properties */

/* Start Header */

header .header-content {
display: flex;
justify-content: space-between;
align-items: center;
}

.header-content .brand {
font-size: 32px;
color: #fff;
text-decoration: none;
}
nav ul {
display: flex;
list-style: none;
}
nav li a {
display: block;
color: #fff;
min-width: 50px;
text-decoration: none;
}
ul.user_info {
display: none;
}
nav ul.user_info li {
position: relative;
margin: 0 5px;
}
nav ul.user_info li i {
color: #fff;
font-size: 20px;
cursor: pointer;
}
.user_info li .badge {
width: 20px;
height: 20px;
background-color: #f00;
color: #fff;
text-align: center;
display: block;
position: absolute;
border-radius: 50%;
top: -50%;
right: -50%;
font-size: 10px;
line-height: 20px;
display: none;
}
nav ul.user_info li .cart-products {
position: absolute;
width: 200px;
transform: translate(-50%);
background-color: #ddd2d2;
top: calc(100% + 20px);
padding: 10px;
display: none;
}
nav ul.user_info li .cart-products a{
background-color: darkgreen;
margin: 0;
text-align: center;
padding: 6px;
}

.header_section .container {
  min-width: 100%;
  background-color: #b3b3b3;
}
.header_section .top_contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  font-family: 'Roboto', sans-serif;
}

.header_section .container-fluid {
  background-color: #656c6c;
  padding-right: 25px;
  padding-left: 25px;
  display: flex;
  justify-content: center;
}

.header_section .nav_container {
  margin: 0 auto;
}
.header_section .search-bar {
  display: flex;
}
.custom_nav-container .navbar-nav .nav-link {
  padding: 10px 23px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.top_contact-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 16%;
  height: 35px;
  padding: 0;
  border: none;
  border-radius: 0;
}
.custom_nav-container {
  display: flex;
  z-index: 99999;
  padding: 10px 0;
  background-color: #656c6c;
}
.login-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btn-container > li {
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btn-container .shopping-card,
.login-btn-container .favorite {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 3px;
  cursor: pointer;
}
.shopping-card .badge,
.favorite .badge {
  width: 20px;
  height: 20px;
  background-color: #f00;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  top: -10%;
  right: -10%;
  font-size: 10px;
  line-height: 20px;
  display: none;
}
.cart-products,
.favorite-products {
  position: absolute;
  width: 200px;
  transform: translate(-50%);
  background-color: #ddd;
  color: #000;
  top: 140%;
  padding: 10px;
  display: none;
  z-index: 1;
}
.cart-products .content,
.favorite-products .content {
  max-height: 190px;
  overflow: hidden;
}
.cart-products .content div,
.favorite-products .content div {
  display: flex;
  border-bottom: 1px solid #adb5bd;
  position: relative;
  height: 95px;
}
.cart-products .content div img,
.favorite-products .content div img {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  margin-right: 5px;
}
.cart-products .content div p,
.favorite-products .content div p {
  margin-top: 3px;
  display: flex;
  font-size: 12px;
}
.cart-products .content div span {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #b724c6b5;
  padding-top: 3px;
  font-size: 12px;
}
.cart-products button,
.favorite-products button {
  background-color: darkgreen;
  display: block;
  width: 100%;
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 6px;
}
.login-btn-container .account {
  position: relative;
}
.login-btn-container .account .into {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.login-btn-container .account .list {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  transform: translate(-5%);
  width: 300px;
  display: none;
  z-index: 999;
  border: 2px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
}
.login-btn-container .account .list .user-info {
  display: none;
  border-radius: 12px;
}
.login-btn-container .account .list .user-info li:first-child{
  display: flex;
  gap: 20px
}
.login-btn-container .account .list .user-info li:first-child i{
  font-size: 30px;
  margin-top: 10px;
}
.login-btn-container .account .list .user-info li:first-child a{
  padding: 0;
  text-decoration: none;
}
.login-btn-container .account .list .user-info li a{
  font-size: 18px;
  font-weight: bold;
  color: #2d2323;
}
.login-btn-container .account .list .user-info li:first-child .modify {
  display: block;
  width: fit-content;
  margin: 5px 40px;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 3px 10px;
}
.login-btn-container .account .list .user-info li span:first-child {
  font-size: 14px;
}
.login-btn-container .account .list .user-info li span:last-child {
  font-size: 12px;
}
.login-btn-container .account .list .user-info li:last-child:hover a{
  color:#338FFF;
  text-decoration: none;
}
.login-btn-container .account .list li {
  display: block;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  color: #777;
}
.login-btn-container .account .list li:last-child {
  border: none;

}
.login-btn-container .account .list .user-info li {
  display: flex;
  padding: 5px 15px;
}
.login-btn-container .account .list .user-info li span{
  display: block;
}
.login-btn-container ul{
  background-color: #fff;
}
.login-btn-container li a {
  color: #777;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding: 5px;
  margin-right: 10px;
  position: relative;
}
.login-btn-container a:hover::before{
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff5f;
  transition: 0.3s;
}
.login-btn-container a img {
  margin-right: 15px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #fafcfd;
}
.navbar-brand:hover {
  color: #fafcfd;
  font-weight: 800;
}
@media (max-width: 767px) {
  .navbar-brand {
    font-size: 20px;
  }
}
.top_contact-container .form-inline {
  flex-grow: 1;
  flex-wrap: nowrap;
  max-width: 400px;
}

.top_contact-container .form-inline input {
  width: 84%;
  border: none;
  outline: none;
  padding: 4px;
  padding-left: 15px;
  text-transform: uppercase;
  height: 35px;
  background-color: #ffffff;
}

.top_contact-container .form-inline button {
  background-color: #ffffff;
}

.header_section .container-fluid nav {
  display: flex;
  justify-content: space-between;
}
nav .collapse{
  display: flex !important;
}
nav .navbar-nav {
  flex-direction: row;
}
@media (min-width: 1000px) {
  nav .toggle-menu {
    display: none;
  }
}
@media (max-width: 999px) {
  .header_section .container-fluid nav{
    width: 100%;
    justify-content: space-between;
  }
  nav .navbar-collapse {
    flex-basis: fit-content;
  }
  nav .navbar-nav {
    display: none;
  }
}

/* End Header */
/* Start Landing */
.landing {
  min-height: 80vh;
  background-color: #1f2021;
  background-image: url("../images/lan.jpg");
  background-size: 125% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(89 105 108 / 60%);
  border-radius: 50% 0;
  
}
.landing .text .content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    justify-content: center;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 2;
  max-width: 500px;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End Landing */
/* Start Form */
.section-form {
  height: auto;
  font-family: cairo;
}
.section-form .container {
  width: 45%;
  background-color: #FFD4B2;
  padding: 20px;
  margin: auto;
  height: 100%;
}
@media (max-width: 767px) {
  .section-form .container {
    width: 100%;
    padding: 15px;
  }
}
.section-form h2 {
  font-size: 40px;
  letter-spacing: 2px;
  color: #867070;
}
.section-form form input[type="submit"] {
  font-size: 25px;
  text-transform: uppercase;
  height: auto;
}
.section-form form input[type="submit"]:hover {
  opacity: 0.8;
}

/* Start Create account */
.section-form  form {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.section-form input:focus::placeholder {
  color: #fff;
}
.section-form form .info {
  position: relative;
  margin-bottom: 20px ;
  width: 100%;
}
.section-form form .info label {
  display: block;
  font-weight: bold;
  padding-bottom: 4px;
}
.section-form form .info input {
  display: block;
  font-family: 'Oswald', sans-serif;
  width: 100%;
  padding: 10px 20px;
  margin:10px auto;
  height: 40px;
  border: 1px solid #ddd;
  outline: none;
}
@media (max-width: 767px) {
  .section-form form .info input {
    width: 300px;
  }
}
.section-form form .info i {
  position: absolute;
  top: 30px;
  right: -15px;
  font-size: 12px;
  color: #ff0000;
  margin-left: 4px;
}
@media (max-width: 767px) {
  .section-form form .info i {
    right: -6px;
  }
}
.section-form form h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #248bd6;

}
.section-form form .check {
  display: flex;
  align-items: center;
}
.section-form form .check input {
  margin: 0;
  margin-top: -5px;
  margin-right: 5px;
}
.section-form form .check label {
  margin-right: 15px;
}
@media (max-width: 767px) {
  .section-form form .check input {
    margin-right: 3px;
  }
  .section-form form .check label {
    margin-right: 13px;
  }
}
.section-form form .accept {
  max-width: 450px;
  display: flex;
}
.section-form form .accept input {
  width: 35px;
  height: fit-content;
  margin: 0;
  margin-right: 5px;
  margin-top: 6px;
}
.section-form form .accept label a{
  text-decoration: underline;
  color: -webkit-link;
}
.section-form form > input {
  width: 100%;
  padding: 10px 20px;
  color: #fff;
  background-color: #248bd6;
  border: none;
}
/* End Create account */
/* End Form */
/* slider account */
.slider_account {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 75px;
}

.slider_account .img-box img {
  width: 100%;
}

.slider_account .detail-box h1 {
  color: #2c2c2c;
}

.slider_account .detail-box h1 span {
  font-size: 4rem;
  color: #ffffff;
  font-weight: bold;
}

.slider_account .detail-box p {
  color: #ffffff;
}

.slider_account .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #2c2c2c;
  border: 1px solid #2c2c2c;
  color: #ffffff;
  margin-top: 35px;
  margin-bottom: 45px;
}

.slider_account .detail-box a:hover {
  background-color: transparent;
  color: #2c2c2c;
}

.slider_account #carouselExampleIndicators {
  width: 100%;
}

.slider_account .carousel-control-prev,
.slider_account .carousel-control-next {
  position: absolute;
  left: 2.5%;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  background-color: #2c2c2c;
  -webkit-transform: translateY(-50%) translatex(0);
          transform: translateY(-50%) translatex(0);
}

.slider_account .carousel-control-prev:hover,
.slider_account .carousel-control-next:hover {
  background-color: #ffffff;
  width: 55px;
  height: 55px;
  -webkit-transform: translateY(-50%) translatex(-5px);
          transform: translateY(-50%) translatex(-5px);
}

.slider_account .carousel-control-prev {
  top: 47%;
  background-image: url(../images/left-arrow.png);
}

.slider_account .carousel-control-prev:hover {
  background-image: url(../images/left-arrow-blue.png);
}

.slider_account .carousel-control-next {
  top: 62%;
  background-image: url(../images/right-arrow.png);
}

.slider_account .carousel-control-next:hover {
  background-image: url(../images/right-arrow-blue.png);
}

.slider_account .carousel-indicators {
  bottom: -75px;
}

.slider_account .carousel-indicators li {
  margin: 0;
  height: 1px;
  opacity: 1;
  width: 40px;
}

.slider_account .carousel-indicators li.active {
  height: 5px;
  margin-top: -2px;
  width: 45px;
}

.feature_account .feature_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.feature_account .feature_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  min-width: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
}

.feature_account .feature_container .box .img-box {
  border: 1px solid #000000;
  width: 85px;
  padding: 15px;
  border-radius: 3px;
}

.feature_account .feature_container .box .img-box svg {
  width: 100%;
  height: auto;
}

.feature_account .feature_container .box .detail-box {
  margin-top: 15px;
}

.feature_account .feature_container .box .detail-box h5 {
  text-transform: uppercase;
  font-weight: bold;
}

.feature_account .feature_container .box:hover .img-box {
  border: 1px solid #ff0000;
}

.feature_account .feature_container .box:hover .img-box svg {
  fill: #ff0000;
}

.discount_account {
  background-color: #1e1d1d;
  color: #ffffff;
}

.discount_account .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discount_account .row .col-lg-7 {
  padding: 0;
}

.discount_account .detail-box {
  padding: 45px 0;
}

.discount_account .detail-box h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
}

.discount_account .detail-box h2 span {
  color: #ff0000;
}

.discount_account .detail-box p {
  margin-top: 25px;
}

.discount_account .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #10e7f4;
  border: 1px solid #10e7f4;
  color: #ffffff;
  margin-top: 35px;
}

.discount_account .detail-box a:hover {
  background-color: transparent;
  color: #10e7f4;
}

.discount_account .img-box img {
  width: 100%;
}

.health_account .health_carousel-container {
  width: 90%;
  margin: 0 auto;
}

.health_account a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #2c2c2c;
  border: 1px solid #2c2c2c;
  color: #ffffff;
  margin-top: 30px;
}

.health_account a:hover {
  background-color: transparent;
  color: #2c2c2c;
}

.health_account .box {
 display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 300px;
    height: 360px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 3px solid #000000;
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
}

.health_account .box .img-box img {
  width: 100%;
}

.health_account .box .btn_container {
  width: 100%;
}

.health_account .box .btn_container a {
  display: inline-block;
  padding: 8px 15px;
  background-color: #2c2c2c;
  border: 1px solid #2c2c2c;
  color: #ffffff;
  margin: -0.5px 0 0 -0.5px;
}

.health_account .box .btn_container a:hover {
  background-color: transparent;
  color: #2c2c2c;
}

.health_account .box .btn_container a:hover {
  background-color: #10e7f4;
  color: #ffffff;
  border-color: transparent;
}

.health_account .box .detail-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.health_account .box .detail-box .star_container {
  color: #f5c608;
}

.health_account .box .detail-box .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.health_account .box .detail-box .text h6 {
  text-transform: uppercase;
}

.health_account .box .detail-box .text h6.price {
  font-weight: bold;
  margin-left: 15px;
}

.health_account .box .detail-box .text h6.price span {
  color: #10e7f4;
}

.health_account .owl-carousel .owl-nav.disabled {
  display: block;
}

.health_account .owl-carousel .owl-nav.disabled > div {
  position: absolute;
  top: -65px;
  background-color: #2c2c2c;
  width: 50px;
  height: 50px;
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.health_account .owl-carousel .owl-nav.disabled > div:hover {
  background-color: #10e7f4;
}

.health_account .owl-carousel .owl-nav.disabled .owl-prev {
  background-image: url(../images/prev.png);
  right: 95px;
}

.health_account .owl-carousel .owl-nav.disabled .owl-next {
  background-image: url(../images/next.png);
  right: 35px;
}

.about_account {
  background-color: #f9f9f9;
  text-align: center;
}

.about_account .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_account .container .img-box {
  margin: 45px 0;
  margin-left: 40px;
}

.about_account .container .img-box img {
  width: 100%;
}

.about_account .container .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #2c2c2c;
  border: 1px solid #2c2c2c;
  color: #ffffff;
  margin-top: 35px;
}

.about_account .container .detail-box a:hover {
  background-color: transparent;
  color: #2c2c2c;
}

.client_account .client_container {
  width: 550px;
  margin: 0 auto;
  text-align: center;
}

.client_account .client_container .client_detail {
  border: 1px solid #000000;
  padding: 25px 20px;
}

.client_account .client_container .client_detail p {
  margin: 0;
}

.client_account .client_container .client_box {
  margin-top: 35px;
}

.client_account .client_container .client_box .name {
  margin-top: 25px;
}

.client_account .client_container .client_box .name h5 {
  text-transform: uppercase;
}

.client_account .client_container .client_box .name h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2deaf5;
}

.client_account .client_container .client_box .name h6 img {
  margin-top: 5px;
}

.client_account .carousel-indicators {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -25px;
}

.client_account .carousel-indicators li {
  margin: 3px;
  width: 20px;
  height: 20px;
  opacity: 1;
  background-color: #10e7f4;
  border-radius: 100%;
  position: relative;
}

.client_account .carousel-indicators li::before {
  content: "";
  width: 35%;
  height: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 100%;
}

.client_account .carousel-indicators li.active {
  background-color: #161616;
  width: 15px;
  height: 15px;
}

.client_account .carousel-indicators li.active::before {
  display: none;
}

.contact_account .custom_heading-container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.contact_account .custom_heading-container h2::after {
  left: 0;
  -webkit-transform: none;
          transform: none;
}

.contact_account .form_contaier form .form-group {
  margin-bottom: 20px;
}

.contact_account .form_contaier form .form-control {
  border-radius: 0;
  height: 35px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact_account .form_contaier form .form-control#exampleInputMessage {
  height: 100px;
}

.contact_account .form_contaier form button {
  display: inline-block;
  padding: 10px 50px;
  background-color: #121313;
  border: 1px solid #121313;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 15px;
}

.contact_account .form_contaier form button:hover {
  background-color: transparent;
  color: #121313;
}

.contact_account .detail-box {
  background-image: url(../images/contact-bg.jpg);
  color: #060606;
  padding: 140px 14%;
  text-align: center;
  margin-top: 30px;
}

.contact_account .detail-box h3 {
  font-weight: bold;
  font-size: 32px;
}

.contact_account .detail-box p {
  margin-top: 25px;
}
 /* Start Gallery */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--account-background);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.gallery .box {
  height: 250px;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}
.gallery .box .image:hover::before {
  animation: flashing 0.7s;
}
.gallery .box img {
  transition: var(--main-transition);
  width: 100%;
  min-height: 100%;
}
.gallery .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* End Gallery */
/* Start Team */
.team {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  margin-bottom: 60px;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.team .box {
  position: relative;
}
.team .box::before,
.team .box::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: var(--main-transition);
}
.team .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}
.team .box::after {
  z-index: -1;
  background-color: #ffffff;
  width: 0;
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
.team .box .data {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}
.team .box .data img {
  width: calc(100% - 60px);
  transition: var(--main-transition);
  border-radius: 10px;
  border: 1px solid black;
}
.team .box:hover img {
  filter: grayscale(100%);
}
.team .box .data .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.team .box .data .social a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .box .data .social a:hover i {
  color: var(--main-color);
}
.team .box .data .social i {
  color: #777;
  transition: var(--main-transition);
}
.team .box .info {
  padding-left: 80px;
}
.team .box .info h3 {
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 22px;
  transition: var(--main-transition);
}
.team .box .info p {
  margin-top: 10px;
  margin-bottom: 25px;
}
.team .box:hover .info h3 {
  color: #777;
}
/* End Team */
/* Start Discount */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.discount .image {
  background-image: url(../images/background.jpg);
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 10s linear infinite;
}
.discount .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.97);
  z-index: -1;
}
@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
  }
}
.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }
}
.discount .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.discount .form textarea.input {
  resize: none;
  height: 200px;
}
.discount .form .input:focus {
  outline: none;
}
.discount .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}
.discount .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}
.discount .content {
  text-align: center;
  padding: 0 20px;
}
.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}
.discount .content img {
  width: 300px;
  max-width: 100%;
}
/* End Discount */
/* Start Footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
    width: 100%;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box h3 {
  color: white;
  font-size: 40px;
  margin: 0 0 20px;
}
.footer .box .social {
  display: flex;
  margin-left: -40px;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
  text-decoration: none;
}
.footer .box .social .facebook:hover {
  background-color: #1877f2;
}
.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
  background-color: #ff0000;
}
.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: white;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
/* End Footer */

/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes change-background {
  0%,
  100% {
    background-image: url("../images/discount-background1.jpg");
  }
  50% {
    background-image: url("../images/discount-background2.jpg");
  }
}
/* End Animation */
/* start secondary  */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --account-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
/* body {
  font-family: "Cairo", sans-serif;
} */
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .main-title {
    max-width: 300px;
    font-size: 20px;
  }
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
.dots {
  background-image: url("../images/dots.png");
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}
.dots-up {
  top: 200px;
  right: 0;

}
.dots-down {
  bottom: 200px;
  left: 0;
}
/* End Global Rules */
  /* Start Header */
  .header {
    background-color: rgb(0, 0, 0);
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  @media (max-width: 767px) {
    .header .container {
      flex-wrap: wrap;
    }
  }
  .header .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    height: 72px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 6px;
    font-family: 'FontAwesome';
    text-shadow: 4px 1px 0px #696993;
    position: relative;
    transition: 0.5s;
  }
  .header .logo:hover {
    text-decoration: none;
    top: -5px;
  }
  @media (max-width: 767px) {
    .header .logo {
      width: 100%;
      height: 50px;
    }
  }
  .header .main-nav {
    display: flex;
    margin: 0;
  }
  @media (max-width: 767px) {
    .header .main-nav {
      margin: auto;
    }
  }
  .header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: rgb(255, 255, 255);
    padding: 0 20px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
  }
  @media (max-width: 767px) {
    .header .main-nav > li > a {
      padding: 10px;
      font-size: 14px;
      height: 40px;
    }
  }
  .header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
  }
  .header .main-nav > li a:hover {
    color: var(--main-color);
    background-color: #fafafa;
    text-decoration: none;
  }
  .header .main-nav > li > a:hover::before {
    left: 0;
  }
  
  /* End Header */
.grand{
  background-color: rgb(255, 255, 255);
  position: relative;
}
.father {
  height: 100vh;
  display: flex;
  margin-top: 10px;
  
}
.father img {
  width: 420px;
  margin-right: 20px;
  height: 425px;
  border-radius: 40px;
  margin: 40px;
}
.father .det {
height: 415px;
margin-top: 40px;
}
.det h1{
  font-size: 45px;
    line-height: 60px;
    margin: 25px 0 ;
}
.det h4{
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.country {
  display: block;
  padding: 5px 10px;
  margin: 15px 0;
  border: 2px solid rgb(103, 103, 106);
}
.det input {
  width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border:2px solid rgb(103, 103, 106);
}

.btn{
  color: #ffffff;
  background-color: rgb(4, 0, 250);
  border: 0px black solid;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}

@media (max-width: 767px) {
  .father {
    flex-direction: column;
    height: 90vh;
  }
  .father img {
    width: 350px;
    height: 350px;
    margin: 20px;
    margin-bottom: 15px;
  }
  .father .det {
    margin: 20px;
    margin-top: 15px;
  }
  .det h1 {
    font-size: 30px;
    line-height: 45px;
  }
}
/* Start Sale */
.sale {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.sale .container {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
.sale .container {
  justify-content: center;
}
  
}
.sale .box {
  flex: 1;
  min-width: 290px;
  max-width: 290px;
  width: 250px;
  min-height: 400px;
  max-height: 400px;
  margin-top: 40px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background: linear-gradient(grey,rgb(255, 250, 250));
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.sale .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.sale .box .image {
  position: relative;
}
.sale .box img {
  width: 100%;
  max-width: 100%;
  height: 200px;
}
.sale .box .image .favorite {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #77777785;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.sale .box:hover .image .favorite {
  width: 100%;
  height: 100%;
}

.sale .box .image .favorite i {
  color:goldenrod;
  font-size: 30px;
  display: none;
  transition: 0.3s;
  
}
.sale .box:hover .image .favorite i {
  display: block;
}
.sale .box .content {
  padding: 20px;
}
.sale .box .content a,
.sale .box .content h3 {
  margin-bottom: 5px;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}
.sale .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  font-size: 21px;
  font-weight: 600;
}
.sale .box .content span {
  display: inline-block;
  font-weight: bold;
  margin-top: 3px;
}
.sale .box .info {
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 12px;

}
.sale .box .info button {
  font-weight: bold;
  color: black;
  padding: 15px;
  margin-left: 3px;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 12px;

}
.sale .box .info i {
  color: black;
  margin-right: 5px;
}
.no-products {
  font-size: 22px;
  color: #777;
  width: fit-content;
  margin: auto;
}
/* Endsale */

/* End secondary  */
/* Start Cart And Favorite */
table {
  margin: auto;
  min-width: 600px;
}
@media (max-width: 767px) {
  table {
    min-width: 250px;
    max-width: 300px;
  } 
}
table thead th {
  color: #fff;
  background-color: #1da1f2;
  padding: 10px 20px;
  border-bottom: 3px solid #000;
  text-align: center;
}
table tbody tr td {
  padding: 10px 20px;
  background-color: #ddd;
  border: 1px solid #fff;
  text-align: center;
}
table tbody tr td:first-child {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  table thead th,
  table tbody td {
    padding: 5px 3px;
    font-size: 11px;
  }
}
table tbody  td img {
  width: 100px;
  margin-right: 5px;
}
@media (max-width: 767px) {
  table tbody tr td img {
    width: 50px
  }
}
table tbody tr td a {
  display: block;
  width: 150px;
}
table tbody tr td button {
  border: none;
  color: #fff;
  background-color: #f00;
  padding: 5px 10px;
  border-radius: 7px;
  font-weight: bold;
}
.pro {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.pro .total {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.pro .total span {
  font-weight: bold;
}
.pro a {
  margin: 30px 10px;
  display: inline-block;
  color: #fff;
  background-color: #ce0c0c;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
}
.pro a:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}
table tbody td button:focus,
.pro a:focus {
  outline: 2px solid #eee;
}
#favorite > a {
  display: block;
  width: fit-content;
  margin: 30px auto;
}
/* End Cart And Favorite */
/* Start Product Details */
#item-details .container-2 {
  display: block;
  position: relative;
  padding: 20px 0;
}
.item-details img {
  width: 70%;
  margin: 10px;
  border: 1px solid #333;
  padding: 2px;
  height: 400px;
}
.item-details div {
  padding: 10px;
}
.item-details h2 {
  display: block;
  max-width: 400px;
  margin-right: 0;
  margin-bottom: 20px;
}
.item-details > span {
  display: block;
  /* font-weight: bold; */
  font-size: 18px;
  color: #777;
}
.item-details span span {
  font-size: 20px;
  font-weight: bold;
}
.item-details button {
  border: none;
  padding: 10px;
  color: #fff;
  margin-right: 15px;
}
.item-details button:focus {
  outline-color: #ddd;
}
.item-details > button {
  border: 1px solid #000;
  color: #000;
}
.item-details button.buy {
  background-color: #f00;
}
.item-details button.add-cart {
  background-color: #1da1f2;
}
.item-details i {
  color: #f00;
  font-size: 20px;
}

/* Start Ordering */
.ordering {
  display: none;
  position: absolute;
  width: 500px;
  height: 400px;
  top: 75vh;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
  z-index: 110000;
}
.show {
  display: block;
}
@media (max-width: 767px) {
  .ordering {
    width: 100vw;
    height: 100vh;
  }
}
.ordering i {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #ddd;

}
.ordering h1 {
  width: fit-content;
  margin: 20px auto;
  color: #a52a2ab8;
}
.ordering p {
  color: #777;
}
.ordering form {
  display: flex;
  flex-direction: column;
}
.ordering form input,
.ordering form select {
  display: block;
  border:1px solid #ddd;
  padding: 5px 10px;
  margin-top: 10px;
}
.ordering form input:focus,
.ordering form select:focus {
  outline: none;
}
.ordering form label {
  color: #777;
  font-weight: bold;
  margin-top: 10px;
}
.nissan,
.toyota,
.mercedes {
  display: none;
}
.ordering form .show {
  display: block;
}
.ordering form > div {
  width: 100px;
  height: 40px;
  border: none;
  color: transparent;
  background-color: #a52a2ab8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
}
.ordering form div .name {
  color: #fff;
}
.ordering form div input {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.ordering form input[type="submit"] {
  font-size: 20px;
  color: #fff;
  background-color: #248bd6;
  padding: 15px 10px;
}
/* End Ordering */
/* Start Product Details */
/* Start Buy */
.buy .box {
  width: 500px;
  padding: 20px;
  margin: 50px auto;
  box-shadow: 0 0 5px 6px #FFD4B2;
}
.buy .box > div {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cebfbf;
}
.buy .box .total span {
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
}
.buy .box h5 {
  font-weight: bold;
  font-size: 20px;
}
.buy .box .location a {
  font-size: 30px;
  padding-left: 20px;
}
.buy .box .cash {
  font-size: 18px;
}
.buy .box img {
  width: 50px;
  height: 40px;
  margin: 2px;
}
.buy .box img:last-child,
.buy .box img:nth-child(3) {
  height: 30px;
  margin: 5px;
}
.buy .box .add {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 5px;
  border: 2px solid #ddd;
  border-radius: 10px;
}
.buy .box .card {
  display: none;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 5px;
  max-width: 400px;
  margin: auto;
}
.buy .box .card p {
  padding: 3px 15px;
  margin: 0;
}
.buy .box .card i {
  padding: 5px 10px 3px;
  border-left: 2px solid #aaa;
}
.buy .box .discount {
  margin: 10px 0;
  display: block;
  min-height: 0;
}
.buy .box .discount input,
.buy .box .discount button {
  display: inline-block;
  margin: 0 10px;
  border-radius: 10px;
  padding: 6px;
}
.buy .box .discount input {
  outline: none;
  border: 2px solid #777;
}
.buy .box .discount button {
  width: 100px;
  color: #000
}
.buy .box .buying {
  border: none;
  padding: 10px 20px;
  display: block;
  width: fit-content;
  margin: 20px auto;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: #f00;
}
.buy .box button:focus {
  outline: 2px solid #ddd;
}
/* End Buy */
/* Start Puy */
.pay .box {
  width: 500px;
  padding: 20px;
  margin: 50px auto;
  box-shadow: 0 0 5px 6px #FFD4B2;
}
.pay .box div {
  display: flex;
}
.pay .box div label,
.pay .box div input {
 margin: 0;
}
.pay .box .payed {
  padding: 10px 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin-bottom: 15px;
}
.pay .box .payed input {
  outline: none;
  border: none;
}
.pay .box .payed:nth-child(3) input {
  display: none;
}
.pay .box div:focus {
  flex-direction: column;
}
.pay .box div:focus label,
.pay .box div:focus input {
  width: 100%
}
.pay .box div:last-of-type label {
  margin-left: 5px;
}
.pay .box a {
  display: block;
  width: 100px;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  margin: 10px auto;
  border: none;
  background-color: #1da1f2;
  border-radius: 5px;
  text-align: center;
}
.pay .box a:hover {
  text-decoration: none;
}
.pay .box input[type= "checkbox"] {
  margin-left: 5px
}
.pay .box a:focus {
  outline: 2px solid #ddd;
}
/* End Puy */
